body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Header */

.header {
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

.header-icon {
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    padding-left: 15px;
}

.header-icon-link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.header-icon-link:hover {
    /*text-decoration: underline;*/
    line-height: 0.8;
    border-bottom: 1px solid #000;
    opacity: .85;
}

.header-icons {
    margin: 0;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-icon-apps-img {
    background-image: url(../images/apps.svg);
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    color: #000;
    cursor: pointer;
    opacity: .55;
}

.header-icon-apps-img:hover {
    opacity: .85;
}

.header-icon-btn {
    border: 1px solid #4285f4;
    font-weight: bold;
    background: #4285f4;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    color: #fff;
    border-radius: 2px;
    line-height: 28px;
    padding: 0 12px;
}


/* Main */

/* Logo */

.main-logo {
    height: 233px;
    margin-top: 50px;
}

.google-logo {
    display: block;
    padding-top: 109px;
    height: 100px;
    width: 300px;
    margin: 0 auto;
}

/* Search form */

.main-search-form {
    display: block;
    margin: 0 auto;
    width: 833px;
    max-width: none;
    overflow: visible;
    text-align: center;
}

.main-search {
    width: 540px;
    margin: 0 auto;
    padding-top: 12.5px;
}

/* Search line */

.main-search-line {
    padding-bottom: 2px;
    padding-top: 3px;
    margin-top: -3px;
    height: 44px;
    border-radius: 1px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.main-search-line:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.search-input {
    display: inline-block;
    overflow: hidden;
    padding: 5px 9px 0;
    padding-left: 16px;
}

.main-search-input {
    border: none;
    padding: 0;
    margin: 0;
    height: 34px;
    font-size: 18px;
    width: 450px;
}

.main-search-input:focus {
    outline: none;
    border: none;
}

.btn-microfone {
    display: inline-block;
    width: 25px;
    height: 24px;
    padding: 8px 18px 9px 15px;
    cursor: pointer;
    float: right;
}

/* Search buttons */

.main-buttons {
    padding-top: 20px;
}

.main-btn {
    height: 40px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    margin: 11px 2px;
    min-width: 54px;
    padding: 0 18px;
    text-align: center;
}

.main-btn:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

.main-lang {
    font-size: 14px;
}

.main-lang-text {
    display: inline-block;
}

.main-lang-link {
    color: #1a0dab;
    text-decoration: none;
}

.main-lang-link:visited {
    color: #609;
}

.main-lang-link:hover {
    text-decoration: underline;
}


/* Footer */

.footer {
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
}

.footer-line {
    color: #757575;
    padding-left: 30px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;

    display: flex;
    justify-content: space-between;
}

.footer-country {
    font-size: 17px;
}

.footer-menu-item {
    color: #666;
    padding-right: 27px;
    margin-right: 0;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.footer-menu-item:hover {
    text-decoration: underline;
}